body{
  font-family: Arial;
}

$background-color: #F4F3EE;
$background-primary-color: #D9E2E1;
$background-secondary-color: #A2ADBC;

$text-color: #727B84;
$text-secondary-color: #B7AFA3;
$text-hover-color: #DF9496;

@mixin heading{
  color: $text-color;
  &:hover{
    color: $text-hover-color;
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

h1{
  @include heading;
}